html,body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
    padding: 0px;
    background: lightgray;

}

canvas {
    border: #574145 5px solid;
    border-radius: 1%;
    margin: 3vh;
    /* height: 42vw;
    width: 70vw;
    margin: 10px; */
}

#bruh {
    /* float: left; */
    width: 100%;
    position: absolute;
}

#content {
    /* width: 100%; */
    /* position:absolute; */
    display: flex;
    flex-direction: column;
    justify-self: center;
}

#startArr {
    height: 30vh;
    background: #00755C;
    border-left: solid .75vw #2c3b38;
    border-right: solid .75vw #2c3b38;
}

.header {
    height: 13vh;
    background-color: #9b9a65;
    text-align: center;
  }
/* Style the navbar */
#navbar {
    height: 5vh;
    display: flex;
    align-items: center;
    background-color: #333;
  }
  
  /* Navbar links */
  #navbar a {
    font-size: 1vw;
    float: left;
    display: block;
    color: #f2f2f2;
    padding: 1vw;
    text-align: center;
    text-decoration: none;
  }
